@model axiomtechno.Models.Usuarios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsFechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsFechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsPasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsPasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.token_recovery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.token_recovery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.RolId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
