@model axiomtechno.Models.Pagos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pagos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagMonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagMonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
