@model axiomtechno.Models.Clientes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClFechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClFechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClFechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClFechaBaja)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
