@model axiomtechno.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClFechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClFechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClFechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClFechaBaja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
